.navbar-icon {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icon:hover,
.hovered {
  background-color: #fbe0dc;
}

.icon-active {
  display: none;
}

.navbar-icon.active {
  background-color: #ff868e;
}

.navbar-icon.active .icon-active {
  display: block;
}

.navbar-icon.active .icon {
  display: none;
}
