.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-container:hover .card-body {
  border: 4px solid rgba(255, 255, 255, 0);
}

.card-container:hover .card-title {
  background: #fbe0dc;
}

.active .card-body {
  border: 4px solid #fbe0dc;
}

.active .card-title {
  background: #ff868e;
  color: #fff;
}

.card-body {
  min-height: 198px;
  min-width: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.6);
  transition: all 0.5s ease-out;
}

.card-body img {
}

.card-title {
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ff868e;
  background: #fff;
  transition: all 0.5s ease-out;
}
