.nav-container {
  /* min-width: 665px; */
  min-width: 47%;
  /* padding: 30px 72px 0px 121px; */
  padding: 2rem 5rem 0rem 6rem;
  position: relative;
}

.nav-subcontainer {
  display: block;

  position: relative;
  height: 100%;
  width: 100%;
}

.nav-all-content {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
}

.nav-info {
  margin-top: 75px;
}

.nav-info h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
}

.nav-info h5 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8c8c8c;
}

.nav-content {
  margin-left: 12px;
}

.nav-pick h4 {
  margin: 60px 0px 0px 0px;
}

@media screen and (max-width: 1100px) {
  .nav-container {
    position: static;
  }
  .nav-subcontainer {
    position: relative;
    top: 0;
    left: 0;
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
