.voting-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  margin: 10px 0px;
}

.voting-image-tools {
  position: relative;
}

.voting-menu {
  display: flex;
  align-items: center;
}

.voting-image-container {
  border-radius: 20px;
  overflow: hidden;
  max-height: 360px;
  margin-top: 20px;
  position: relative;
}

.voting-image-container img {
  width: 100%;
  height: 100%;
}
